* {
    text-align: center;
}


main p  {
    margin: 0 auto;
    text-align: left;
}

img {
    width: 18%;
    height: 25%;
}
footer p {
    text-align: center;
}

.background{
    background-color: limegreen;
}