@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&family=Libre+Baskerville:ital@1&family=Martian+Mono');
/* * {
    border: 1px solid red;
} */
:root {
    --heading-font: "Libre Baskerville";
    --paragraph-font: "Edu TAS Beginner";
}
header {
    background-color: #4B7F52;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
}
nav a {
    text-align: center;
    color: #96E8BC;
    text-decoration: none;
    padding: 10px;
    font-size: 2em;
    font-family: "Libre Baskerville", "Martian Mono", "Edu Tas Beginner";
}
nav a:hover {
    background-color: black;
    color: white;
    border-radius: 5px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 200px;
}
.intro{
    text-align: center;
    font-size: 2em;
}
body {
    background-color: #96E8BC;
    font-family: "Libre Baskerville", "Martian Mono", "Edu Tas Beginner";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.content {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    grid-gap: 2%;
    padding: 10%;
    padding-top: 10px;
}
.para {
    text-align: center;
    grid-column: 1/2;
}
.para p {
    font-family: var(--paragraph-font);
    font-size: 1.1em;
}
.image {
    text-align: center;
    grid-column: 3/4;
}
.icon {
    width: 100%;
    border: 10px solid #4B7F52;
}
footer {
    background-color: #4B7F52;
    margin-top: 200px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #96E8BC;
    text-decoration: none;
}
footer p a:hover {
    color: white;
    background-color: black;
    border-radius: 5px;
}
footer p {
    font-size: 1.2em;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: #96E8BC;
    text-decoration: underline;
}
footer p a:hover {
    text-decoration: underline;
}