body {
    background-color: #5d5d5d;
}

img {
    margin: 0 auto;
    width: 100%;
    padding: 0%;
    border: 0%;
}

#content {
    width: 100%;
    background-color: blue;
}
.desk {
    width: 18%;
    margin: 0 auto;
    border: 10px solid #353535;
    border-radius: 100%;
    margin: 50px 9%;
    margin-left: 14%;
}

.graphic {
    width: 18%;
    margin: 0 auto;
    border: 10px solid #353535;
    border-radius: 100%;
    margin: 50px 0%;
}

.person {
    width: 18%;
    margin: 0 auto;
    border: 10px solid #353535;
    border-radius: 100%;
    margin: 50px 9%;
}